{% set pageBase = requestUriPager %}
{% set pageBase = (pageBase == '' ? '/' : pageBase) %}

{% if extra.memberCount > 100 %}
<div class="pull-right">
	<ul class="pagination pagination-sm">
		{% if page == 2 %}
			<li><a href="{{ pageBase }}" rel="nofollow prev">&laquo;</a></li>
		{% elseif page > 2 %}
			<li><a href="{{ pageBase }}page/{{ page - 1 }}/" rel="nofollow prev">&laquo;</a></li>
		{% endif %}

		{% set startIndex = page - 3 %}
		{% set endIndex = page + 3 %}

		{% for pageIndex in startIndex..endIndex %}
			{% if pageIndex == 1 %}
				<li class="{{ isActive(pageIndex, page, 'active') }}"><a href="{{ pageBase }}" rel="nofollow">{{ pageIndex }}</a></li>
			{% elseif pageIndex > 1 %}
				<li class="{{ isActive(pageIndex, page, 'active') }}"><a href="{{ pageBase }}page/{{pageIndex}}/" rel="nofollow">{{ pageIndex }}</a></li>
			{% endif %}
		{% endfor %}
		<li><a href="{{ pageBase }}page/{{ page + 1 }}/" rel="nofollow next">&raquo;</a></li>
	</ul>
</div>
{% endif %}

<table name="memberList" class="table table-hover table-striped">
	<tr>
		<th>Character name</th>
		<th>Last Seen System</th>
		<th>Last Seen Region</th>
		<th>Last Seen Ship</th>
		<th>Life Time Kills</th>
		<th>Life Time Losses</th>
		<th>Last Seen Date</th>
	</tr>

	{% for character in extra.memberList %}
		<tr>
			<td><img src="{{ image_character}}{{character.characterID}}_32.jpg"> <a href="/character/{{ character.characterID }}/">{{ character.name }}</a></td>
			<td><a href="/system/{{ character.lastSeenSystem|url_encode }}/">{{ character.lastSeenSystem }}</a></td>
			<td><a href="/region/{{ character.lastSeenRegion|url_encode }}/">{{ character.lastSeenRegion }}</a></td>
			<td><a href="/ship/{{ character.lastSeenShip|url_encode }}/">{{ character.lastSeenShip }}</a></td>
			<td>{{ character.lifeTimeKills }}</td>
			<td>{{ character.lifeTimeLosses }}</td>
			<td>{{ character.lastSeenDate }}</td>
		</tr>
	{% endfor %}
</table>

{% if extra.memberCount > 100 %}
<div class="pull-right">
	<ul class="pagination pagination-sm">
		{% if page == 2 %}
			<li><a href="{{ pageBase }}" rel="nofollow prev">&laquo;</a></li>
		{% elseif page > 2 %}
			<li><a href="{{ pageBase }}page/{{ page - 1 }}/" rel="nofollow prev">&laquo;</a></li>
		{% endif %}

		{% set startIndex = page - 3 %}
		{% set endIndex = page + 3 %}

		{% for pageIndex in startIndex..endIndex %}
			{% if pageIndex == 1 %}
				<li class="{{ isActive(pageIndex, page, 'active') }}"><a href="{{ pageBase }}" rel="nofollow">{{ pageIndex }}</a></li>
			{% elseif pageIndex > 1 %}
				<li class="{{ isActive(pageIndex, page, 'active') }}"><a href="{{ pageBase }}page/{{pageIndex}}/" rel="nofollow">{{ pageIndex }}</a></li>
			{% endif %}
		{% endfor %}
		<li><a href="{{ pageBase }}page/{{ page + 1 }}/" rel="nofollow next">&raquo;</a></li>
	</ul>
</div>
{% endif %}